/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-regular.woff") format("woff"); }

/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff") format("woff"); }

body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  background-color: #242424; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
