/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-regular.woff") format("woff"); }

/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff") format("woff"); }

body {
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  background-color: #242424; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  width: auto; }

.page-header__logo {
  margin: 26px auto; }

.main-nav {
  position: relative;
  min-width: 250px;
  margin-left: 70px;
  font-size: 18px;
  line-height: 24px;
  background-color: #826550; }

.main-nav__toggle {
  width: 70px;
  height: 50px;
  padding: 0;
  margin-left: calc(100% - 70px);
  border: none;
  content-visibility: hidden;
  background-color: #6a4d38; }

.main-nav__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.main-nav__list {
  position: absolute;
  top: 50px;
  padding: 0;
  margin: 0;
  box-shadow: inset 10px 0px 10px -10px #000000;
  list-style: none; }

.main-nav__list a {
  color: #fff;
  text-decoration: none; }

.site-list {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #826550; }

.site-list__item {
  padding: 13px 20px;
  box-shadow: inset 0px 1px 0px 0px #886e5b, 0px -1px 0px 0px #71543f; }

.site-list__item:first-child {
  box-shadow: inset 0px 1px 0px 0px #886e5b; }

.user-list {
  background-color: #6a4d38; }

.user-list__item {
  position: relative;
  padding: 17px 48px;
  padding-right: auto; }

.user-list__login::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 17px;
  top: 20px;
  background-image: url("/img/login.svg.png"); }
