.button {
  display: block;
  box-sizing: border-box;
  padding: 12px;
  
  background-color: transparent;
  border: 1px solid $border-color;

  color: #000;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}