.main-nav {
  position: relative;
  min-width: 250px;
  height: 50px;

  font-size: 18px;
  line-height: 24px;

  background-color:
  $nav-light-brown;
}

.main-nav__toggle {
  width: 70px;
  height: 50px;

  padding: 0;
  margin-left: calc(100% - 70px);

  border: none;
  content-visibility: hidden;
  background-color: $nav-dark-brown;
  color: #fff;
}

.main-nav__wrapper {
  // opacity: 0;
  
  position: absolute;
  top: 0px;

  width: 100%;
  display: flex;
  flex-direction: column;
  
  margin-left: 70px;
}

.main-nav__list {
  display: none;

  position: relative;

  padding: 0;
  margin: 0;

  box-shadow: inset 10px 0px 10px -10px #000000;
  list-style: none;
}

.main-nav__list a {
  color: #fff;
  text-decoration: none;
}

.site-list {
  font-weight: 700;
  text-transform: uppercase;
  
  background-color:
  $nav-light-brown;
  color: #fff;
}

.site-list__item {
  padding: 13px 20px;

  box-shadow: inset 0px 1px 0px 0px #886e5b, 0px -1px 0px 0px #71543f;
}

.site-list__item:first-child {
  box-shadow: inset 0px 1px 0px 0px #886e5b;
}

.user-list {
  background-color: $nav-dark-brown;
}

.user-list__item {
  position: relative;

  padding: 17px 48px;
  padding-right: auto;
}

.user-list__login::before {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;
  left: 17px;
  top: 20px;

  background-image: url("/img/login.svg.png");
}