.news {
  padding-top: 34px;
  background-color: #fff;

  border-bottom: 1px solid $border-light-color;

  color: #000;
}

.news__wrapper {
  padding: 0 20px;
}

.news__list {
  margin: 0;
}

.news__title {
  margin: 0;
  margin-bottom: 25px;

  font-style: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.news__list {
  padding: 0;

  list-style: none;
}

.news__item {
  display: flex;
  box-sizing: border-box;

  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid $border-light-color;

  &:first-child {
    padding-top: 0;
    border: none;
  }

  &:nth-child(3) {
    display: none;
  }

}

.news__date {
  box-sizing: border-box;
  min-width: 50px;
  height: 50px;

  position: relative;
  top: 12px;
  right: 0px;

  margin-right: 18px;
  padding-top: 25px;

  background-color: #000;

  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 30px;

  &::after {
    content: "";

    position: absolute;
    top: 50px;
    left: 0;

    width: 50px;
    height: 10px;

    background-color: orangered;
  }
}

.news__day {
  position: absolute;
  top: 5px;

  display: block;
  min-width: 50px;
  padding: 0 auto;

  font-size: 30px;
}

.news__text {
  margin: 0;

  font-size: 18px;
  line-height: 27px;
}

.news__to-all {
  margin-top: 2px;
  margin-bottom: 30px;

  width: 100%;
}