.page-footer {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 32px;
}

.copyright {
  margin-bottom: 23px;
}

.copyright__text {
  display: block;
  padding-bottom: 15px;
}

.copyright__link {
  color: #fff;
  border-color: $border-dark-color;
}
